@use '../../assets/styles/helpers/variables' as vars;

.button {
  border-style: solid;
  border-radius: 8px;
  border-width: 2px;
  padding: 12px 34px;
  line-height: 150%;
}

.primary {
  color: #FFF;
  background-color: vars.$text-accent;
  border-color: vars.$text-accent;

  &:hover {
    background-color: vars.$secondary-100;
    border-color: vars.$secondary-100;
  }

  &:focus {
    background-color: vars.$secondary-300;
    border-color: vars.$secondary-800;
  }

  &:active {
    background-color: vars.$secondary-600;
    border-color: vars.$secondary-600;
  }

  &:disabled {
    background-color: vars.$text-paragraph;
    border-color: vars.$text-paragraph;
  }
}

.secondary {
  color: vars.$base-1000;
  background-color: vars.$base-0;
  border-color: vars.$base-300;

  &:hover {
    border-color: vars.$secondary-300;
  }

  &:focus {
    color: vars.$secondary-300;
    border-color: vars.$secondary-300;
  }

  &:active {
    color: vars.$secondary-1000;
    border-color: vars.$secondary-1000;
  }

  &:disabled {
    color: vars.$base-400;
    border-color: vars.$base-300;
  }
}

.tab {
  color: vars.$base-600;
  background-color: transparent;
  border: none;


  &.active {
    background-color: vars.$base-0;
    color: vars.$secondary-300;
    border-color: vars.$base-200;
    border-width: 2px;
    border-style: solid;
    font-weight: 700;

    &:hover,
    &:focus,
    &:active {
      color: vars.$secondary-300;
      background-color: vars.$secondary-0;
    }

    &:focus {
      color: vars.$secondary-300;
      background-color: vars.$secondary-200--light;
    }

    &:active {
      border-color: vars.$secondary-100;
    }

  }

}