@use '../../assets/styles/helpers/variables' as vars;

.menu {
  list-style: none;
}

.list {
  display: flex;
  flex-direction: row;
  height: 100%;
  align-items: center;
}

.item {
  a {
    display: block;
    padding: 4px 30px;
  }
}