@use '../../assets/styles/helpers/variables' as vars;

.heart {

  &:hover {
    svg {
      circle {
        fill: vars.$base-0;
        stroke: vars.$secondary-100;
      }

      path {
        stroke: vars.$secondary-700;
      }
    }
  }

  &:focus {
    svg {
      circle {
        fill: vars.$secondary-200--light;
        stroke: vars.$secondary-300;
      }

      path {
        stroke: vars.$secondary-700;
      }
    }
  }

  &:active,
  .selected {
    svg {
      circle {
        fill: vars.$secondary-300;
        stroke: vars.$secondary-100;
      }

      path {
        stroke: vars.$base-0;
      }
    }
  }
}