//colors

$base-0: #FFFFFF;
$base-200: #EAECF4;
$base-300: #D6D8E5;
$base-400: #717788;
$base-600: #7B8191;
$base-1000: #000000;
$opacity-0: 0;
$opacity-10: .1;
$opacity-20: .2;
$opacity-30: .3;
$opacity-40: .4;
$opacity-50: .5;
$opacity-60: .6;
$opacity-70: .7;
$opacity-80: .8;
$opacity-90: .9;
$opacity-100: 1;
$text-accent: #6851FF;
$text-paragraph: #B5B8CB;
$secondary-0: #EDEAFF;
$secondary-0--light: rgba(237, 234, 255, $opacity-20);
$secondary-100: #8B8AFF;
$secondary-200: #3D1EFE;
$secondary-200--light: rgba(61, 30, 254, $opacity-20);
$secondary-300: #6851FF;
$secondary-600: #3D1EFE;
$secondary-700: #3D1EFE;
$secondary-800: #3118D6;
$secondary-1000: #2511AE;